.section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 30%;
  height: 10em;
  min-height: 10em;
  min-height: fit-content;
  border-radius: 5px;
  padding: 2em 1.8em;
  margin-top: 12px;
  background: rgba(130, 130, 130, 0.05);
  border: 1px solid transparent;
}

@media (max-width: 1200px) {
  .card {
    width: 100%;
  }
}

.card:hover {
  border: 1px solid rgba(150, 150, 150, 0.5);
}

.emoji {
  margin-right: 10px;
}

.heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.paragraph {
  font-weight: 600;
  color: #777;
}
